<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>   
</script>
</head>

<body background="images/dots.jpg" height="100%">
        <style>
                body{color: darkcyan;}
                body{background-repeat: no-repeat;}
                body{background-size: 100%;}
                body{padding: 3%;}
            </style>
    <form action="scholarships" method="post">
        <input type="submit" value="Find Scholarships">
    </form>
    <br>
    <form action="show" method="post">
        <input type="submit" value="See all scholarships">
    </form>
    <br>
    <form action="login" method="post">
        Admin Login:<br><br>
        Username: <input type="text" name="userName"><br><br>
        Password: <input type="password"name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <br><br>
    For more scholarship opportunities<br>
    go to these websites:<br><br>
    <a href="https://studentaid.gov/h/apply-for-aid/fafsa">FAFSA</a><br>
    <a href="https://cssprofile.collegeboard.org/">CSS Profile</a><br><br>
    
    <a href="https://bigfuture.collegeboard.org/">Big Future</a><br>
    <a href="https://www.collegegreenlight.com/">College Green Light</a><br>
    <a href="https://dream.csac.ca.gov/">Dream Act</a><br>
    <a href="http://www.eastbayconsortium.org/">East Bay Consortium</a><br>
    <a href="https://www.fastweb.com">FastWeb.com</a><br>
    <a href="https://www.niche.com/colleges/scholarships/">Niche</a><br>
    <a href="https://www.petersons.com/scholarship-search.aspx">Peterson's</a><br>
    <a href="https://www.scholarships.com/">Scholarships.com </a><br> 
    <a href="https://www.unigo.com/scholarships">Unigo</a><br>
</body>
</html>